black
-e .
ensure==1.0.2
flake8
Flask
Flask-Cors
h5py
isort
joblib
matplotlib
mlflow==2.2.2
mypy
notebook
numpy
pandas
pennylane
pylint
pytest
python-box==6.0.2
pyYAML
qiskit
scikit-learn
seaborn
tqdm
types-PyYAML
